# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List common libraries used in Data Science
* List Data Science tools
* Perform arithmetic

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Seaborn
4. Plotly

| Data Science Tools |
|--------------------|
| Python |
| R |
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [23]:
# This will convert 200 minutes to hours by diving by 60
min=float(input("Enter the minutes = "))
hours=min/60

Enter the minutes =  200

## Author
Anonymous